* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --dark: #29323d;
  --blue: #11aafa;
  --light-blue: #e3f7ff;
  --hover-blue: #0d8ecf;
  --border-light: #c7d0d9;

  --font-primary: "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;

  --fs-12: 12px;
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-22: 22px;
  --fs-28: 28px;
  --fs-36: 36px;

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
}
.main input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.main {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  font-size: var(--fs-18);
  padding: 0px 10px;
  transition: all 0.3s;
  color: #666;
  border: 2px solid #666;
  border-radius: 10px;
}
.main:hover {
  color: var(--blue);
  border: 2px solid var(--blue);
  border-radius: 10px;
}
.main svg {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 35px;
  transition: all 0.3s;
  fill: #666;
}

.main svg:hover {
  transform: scale(1.1);
}

.main input:checked ~ svg {
  fill: #e3474f;
}
