* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --dark: #29323d;
  --blue: #11aafa;
  --light-blue: #e3f7ff;
  --hover-blue: #0d8ecf;
  --border-light: #c7d0d9;

  --font-primary: "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;

  --fs-12: 12px;
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-22: 22px;
  --fs-28: 28px;
  --fs-36: 36px;

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
}
.cartBtn {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  color: var(--white);
  font-weight: 500;
  position: relative;
  background-color: var(--blue);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  padding: 10px 15px;
}

.cartBtn:hover {
  background-color: var(--dark);
  box-shadow: 0 0 15px var(--border-light), 0 0 25px var(--border-light);
}

.cartBtn:active {
  transform: scale(0.96);
}

.cart {
  z-index: 2;
  height: 1.2em;
  transition: transform 0.3s ease;
}

.product {
  position: absolute;
  width: 14px;
  left: 37px;
  bottom: 23px;
  opacity: 0;
  z-index: 1;
  fill: var(--border-light);
}

.cartBtn:hover .product {
  animation: slide-in-top 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-40px);
    opacity: 1;
  }
  100% {
    transform: translateY(0) rotate(-90deg);
    opacity: 1;
  }
}

.cartBtn:hover .cart {
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
